<component name="libraryTable">
  <library name="spring-5.3.31">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-jcl-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-expression-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-core-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-context-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-beans-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/spring-aop-5.3.31.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../source/jar/javax.annotation-api-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>